<!DOCTYPE html>
<html>
  <head>
   <title>Headlines</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
  </head>
 
  <body>
  	<form id="userPreferences" action="/preferences" method="post">
    	<div class="container">
	        <div class="row">
	            <div class="page-header col-xs-10 col-xs-offset-1">
	                <h1 class="page-title">Headlines</h1>
	            </div>

	            <ul class="nav nav-platforms col-xs-10 col-xs-offset-1">
	                <li role="presentation" class="active"><a href="/" name="home">Home</a></li>
	            </ul>
	        </div>
    	</div>

    	<div class="row">
    		<p class ="text-center"> Welcome to the News Application Headlines, <%= user.username %>!</p>
			<p class ="text-center"> Please select from the following News Sources to be in your Newsfeed.
			<p class ="text-center"><b> Source Options:</b> </p>
		</div>
		
 		<div class="row">
    		<div class="col-xs-2 col-xs-offset-3">
    			<% for(sportsFeed in links.sports) { %>
    				<div class="checkbox">
    					<label>
                            <% var currentLinkS = links.sports[sportsFeed]; %>
    						<% if(user.favSources && user.favSources.length > 0 && user.favSources.includes(currentLinkS)) { %>
    						<input type="checkbox" id=<%= sportsFeed %> name="news" checked value=<%= links.sports[sportsFeed] %>>
    						<% } else { %>
    						<input type="checkbox" id=<%= sportsFeed %> name="news" value=<%= links.sports[sportsFeed] %>>
    						<% } %>
    						<%= sportsFeed %>
    					</label>
    				</div>
    			<% } %>
    			<br>
    			<% for(miscFeed in links.misc) { %>
    				<div class="checkbox">
    					<label>
                            <% var currentLinkM = links.misc[miscFeed]; %>
    						<% if(user.favSources && user.favSources.length > 0 && user.favSources.includes(currentLinkM)) { %>
    						<input type="checkbox" id=<%= miscFeed %> name="news" checked value=<%= links.misc[miscFeed] %>>
    						<% } else { %>
    						<input type="checkbox" id=<%= miscFeed %> name="news" value=<%= links.misc[miscFeed] %>>
    						<% } %>
    						<%= miscFeed %>
    					</label>
    				</div>
    			<% } %>
    		</div>
    		<div class="col-xs-2">
    			<% for(newsFeed in links.news) { %>
    				<div class="checkbox">
    					<label>
                            <% var currentLinkN = links.news[newsFeed]; %>
    						<% if(user.favSources && user.favSources.length > 0 && user.favSources.includes(currentLinkN)) { %>
    						<input type="checkbox" id=<%= newsFeed %> name="news" checked value=<%= links.news[newsFeed] %>>
    						<% } else { %>
    						<input type="checkbox" id=<%= newsFeed %> name="news" value=<%= links.news[newsFeed] %>>
    						<% } %>
    						<%= newsFeed %>
    					</label>
    				</div>
    			<% } %>
    		</div>
    		<div class="col-xs-2">
    			<% for(techFeed in links.tech) { %>
    				<div class="checkbox">
    					<label>
                            <% var currentLinkT = links.tech[techFeed]; %>
    						<% if(user.favSources && user.favSources.length > 0 && user.favSources.includes(currentLinkT)) { %>
    						<input type="checkbox" id=<%= techFeed %> name="news" checked value=<%= links.tech[techFeed] %>>
    						<% } else { %>
    						<input type="checkbox" id=<%= techFeed %> name="news" value=<%= links.tech[techFeed] %>>
    						<% } %>
    						<%= techFeed %>
    					</label>
    				</div>
    			<% } %>
    		</div>
    	</div>

    	<div class="row col-xs-2 col-xs-offset-5">
	    	<input class="btn btn-default" type="submit" name="submit" value="Submit">
	    	<a class="btn btn-default" href="/">Cancel</a>
		</div>
    </form>
  </body>
  </html>